/*<meta />*/

body.dita
{
	
}

html.topic
{
	font-family: sans-serif;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 6pt;
	margin-bottom: 9pt;
}

h1.topictitle
{
	
}

p.shortdesc
{
	
}

p
{
	margin-top: 6pt;
}

div.noteDanger
{
	margin-top: 6pt;
}

div.noteDanger
{
	
}

span.ph
{
	
}

ul
{
	margin-top: 6pt;
	margin-bottom: 6pt;
}

li
{
	margin-left: 20pt;
	margin-top: 6pt;
	margin-bottom: 2pt;
}

div.noteImportant
{
	margin-top: 6pt;
}

div.noteImportant
{
	
}

